-- Code Editors & IDEs ---
Kate & KWrite
*~
*.kate-swp
.kateconfig

Visual Studio Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace

JetBrains (IntelliJ, WebStorm, PyCharm, CLion, etc.)
.idea/
*.iws
*.iml
*.ipr
out/

--- System & Temporary Files ---
macOS
.DS_Store
.AppleDouble
.LSOverride
._*
